.episode {
  margin-bottom: 50px;
  scroll-snap-align: start;
}

.title {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.flag {
  margin-right: 16px;
}

.title h1 {
  font-family: var(--futura);
  text-transform: uppercase;
  font-weight: 500;
}

.title span {
  color: #888;
  font-family: var(--fira-400);
}

.bodyTruncate {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* https://browserstrangeness.github.io/css_hacks.html#safari */
@supports (-webkit-hyphens: none) {
  .bodyTruncate > * {
    display: none;
  }
  .bodyTruncate > *:first-child {
    display: inline;
  }
}

.meta a,
.title span a {
  color: var(--primary);
}

.meta a:hover,
.title span a:hover {
  text-decoration: underline;
}

.meta {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #888;
  font-family: var(--fira-400);
  margin-top: 8px;
}
