:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  /* color: #EC7994; */
  background: #B0DCED;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 17px;
  line-height: 150%;
}

body {
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  color: #EC7994;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
