.cluster {
  width: 39px;
  height: 39px;
  padding-left: 6px;
  padding-top: 6px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 999em;
  transition: 0.1s transform;
  cursor: pointer;
}

.clusterInner {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999em;
  border: 5px solid white;
  font-size: 1.1em;
  color: white;
  background-color: var(--primary);
  font-weight: 500;
}

.cluster:hover {
  transform: scale(1.1);
}

.marker {
  cursor: pointer;
}

.pin {
  position: relative;
}

.dot {
  background-color: var(--primary);
  width: 13px;
  height: 13px;
  top: 7px;
  left: 7px;
  border-radius: 999em;
  position: absolute;
  z-index: 2;
}

.active .dot {
  background-color: var(--secondary);
}

.flag {
  width: 0;
  opacity: 0;
  position: absolute;
  transition: 0.2s all;
  top: 0;
  left: 16px;
  line-height: 26px;
  padding-left: 0px;
  padding-right: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.1em;
  background-color: white;
  white-space: nowrap;
  font-weight: 500;
  text-transform: uppercase;
  overflow: hidden;
}

.marker:hover .flag,
.active .flag {
  display: block;
  width: auto;
  overflow: hidden;
  opacity: 1;
  padding-left: 12px;
  padding-right: 6px;
}
