.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.main {
  padding: 30px 50px;
  margin-left: 50%;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--futura);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.1em;
  line-height: 160%;
}

.aside {
  position: fixed;
  left: 0;
  right: 50%;
  bottom: 0;
  top: 0;
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 30px;
  }

  .logo img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 767px) {
  .main {
    margin-left: 0;
  }

  .aside {
    display: none;
  }

  .nav ul {
    font-size: 1em;
    line-height: 130%;
  }
}

.activeLink {
  color: var(--primary);
}
